.content-in{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  
    flex-grow: 1;
  
    overflow-y: scroll;

    padding: 50px;
  }
  
  .pic {
      flex-grow: 1;
      height: 300px;
      border-radius: 20px;
  }

  p{
    font-family: "Verdana";
    font-size: 1.25em;
  
    background-color: rgb(221, 241, 255);
    padding: 20px;
    border-radius: 30px;
    margin: 50px;
  }

  h2 {
      font-size: 2.5em;
      margin-bottom: 0px;
      margin-top: 50px;
  }