.content-in{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  
    flex-grow: 1;
  
    overflow-y: scroll;

    padding: 50px;
  }
  
.pic {
    flex-grow: 1;
    height: 250px;
    width: 200px;
    object-fit:cover;
    border-radius: 20px;
}

h2 {
      font-size: 2.5em;
      margin-bottom: 0px;
      margin-top: 50px;
}

@media only screen and (max-width: 650px) {
    .pic {
        height: 200px;
        width: 150px;
    }
}