#content-in {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  margin: 60px;
  margin-top: 20px; 
}

#bubble{
  font-family: "Verdana";
  font-size: 1.25em;
  width: 80%;

  background-color: rgb(221, 241, 255);
  padding: 20px;
  border-radius: 30px;
  margin: 50px;
}

img {
  width: 50%;
  border-radius: 30px;
  margin: 40px;
}

#egg {
  width: 80%;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 40px;
  margin-bottom: 0;
}

figcaption {
  font-family: "Verdana";
}

@media only screen and (max-width: 650px) {

  #bubble {
      font-size: .85em;
      margin: 30px;
  }
}