.products {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 10px;
}